# Executables and libraries
main
/taiyo
/hoshi
/hir
*.out
*.exe
*.exe~
*.so
*.dylib
*.dll

# Generated when transpiling/compiling HIR files
/out.c
/tmp.c
/out.hoshi

# Editors and OS things
.DS_Store
.vscode/

# ENV
.env

# Zig
/.zig-cache
/zig-out
